@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* --md-sys-color-primary: 143 76 55;
        --md-sys-color-surface-tint: 143 76 55;
        --md-sys-color-on-primary: 255 255 255;
        --md-sys-color-primary-container: 255 219 208;
        --md-sys-color-on-primary-container: 58 11 0;
        --md-sys-color-secondary: 119 87 77;
        --md-sys-color-on-secondary: 255 255 255;
        --md-sys-color-secondary-container: 255 219 208;
        --md-sys-color-on-secondary-container: 44 21 15;
        --md-sys-color-tertiary: 107 94 47;
        --md-sys-color-on-tertiary: 255 255 255;
        --md-sys-color-tertiary-container: 245 226 167;
        --md-sys-color-on-tertiary-container: 35 27 0;
        --md-sys-color-error: 186 26 26;
        --md-sys-color-on-error: 255 255 255;
        --md-sys-color-error-container: 255 218 214;
        --md-sys-color-on-error-container: 65 0 2;
        --md-sys-color-background: 255 248 246;
        --md-sys-color-on-background: 35 25 23;
        --md-sys-color-surface: 255 248 246;
        --md-sys-color-on-surface: 35 25 23;
        --md-sys-color-surface-variant: 245 222 215;
        --md-sys-color-on-surface-variant: 83 67 63;
        --md-sys-color-outline: 133 115 110;
        --md-sys-color-outline-variant: 216 194 188;
        --md-sys-color-shadow: 0 0 0;
        --md-sys-color-scrim: 0 0 0;
        --md-sys-color-inverse-surface: 57 46 43;
        --md-sys-color-inverse-on-surface: 255 237 232;
        --md-sys-color-inverse-primary: 255 181 159;
        --md-sys-color-primary-fixed: 255 219 208;
        --md-sys-color-on-primary-fixed: 58 11 0;
        --md-sys-color-primary-fixed-dim: 255 181 159;
        --md-sys-color-on-primary-fixed-variant: 114 53 34;
        --md-sys-color-secondary-fixed: 255 219 208;
        --md-sys-color-on-secondary-fixed: 44 21 15;
        --md-sys-color-secondary-fixed-dim: 231 189 177;
        --md-sys-color-on-secondary-fixed-variant: 93 64 55;
        --md-sys-color-tertiary-fixed: 245 226 167;
        --md-sys-color-on-tertiary-fixed: 35 27 0;
        --md-sys-color-tertiary-fixed-dim: 216 198 141;
        --md-sys-color-on-tertiary-fixed-variant: 82 70 25;
        --md-sys-color-surface-dim: 232 214 210;
        --md-sys-color-surface-bright: 255 248 246;
        --md-sys-color-surface-container-lowest: 255 255 255;
        --md-sys-color-surface-container-low: 255 241 237;
        --md-sys-color-surface-container: 252 234 229;
        --md-sys-color-surface-container-high: 247 228 223;
        --md-sys-color-surface-container-highest: 241 223 218; */
        --md-sys-color-primary: 26 107 82;
        --md-sys-color-surface-tint: 26 107 82;
        --md-sys-color-on-primary: 255 255 255;
        --md-sys-color-primary-container: 166 242 210;
        --md-sys-color-on-primary-container: 0 33 22;
        --md-sys-color-secondary: 76 99 89;
        --md-sys-color-on-secondary: 255 255 255;
        --md-sys-color-secondary-container: 206 233 219;
        --md-sys-color-on-secondary-container: 8 32 23;
        --md-sys-color-tertiary: 63 99 117;
        --md-sys-color-on-tertiary: 255 255 255;
        --md-sys-color-tertiary-container: 194 232 253;
        --md-sys-color-on-tertiary-container: 0 31 43;
        --md-sys-color-error: 186 26 26;
        --md-sys-color-on-error: 255 255 255;
        --md-sys-color-error-container: 255 218 214;
        --md-sys-color-on-error-container: 65 0 2;
        --md-sys-color-background: 245 251 246;
        --md-sys-color-on-background: 23 29 26;
        --md-sys-color-surface: 245 251 246;
        --md-sys-color-on-surface: 23 29 26;
        --md-sys-color-surface-variant: 219 229 222;
        --md-sys-color-on-surface-variant: 64 73 68;
        --md-sys-color-outline: 112 121 116;
        --md-sys-color-outline-variant: 191 201 194;
        --md-sys-color-shadow: 0 0 0;
        --md-sys-color-scrim: 0 0 0;
        --md-sys-color-inverse-surface: 44 50 47;
        --md-sys-color-inverse-on-surface: 236 242 237;
        --md-sys-color-inverse-primary: 138 214 183;
        --md-sys-color-primary-fixed: 166 242 210;
        --md-sys-color-on-primary-fixed: 0 33 22;
        --md-sys-color-primary-fixed-dim: 138 214 183;
        --md-sys-color-on-primary-fixed-variant: 0 81 60;
        --md-sys-color-secondary-fixed: 206 233 219;
        --md-sys-color-on-secondary-fixed: 8 32 23;
        --md-sys-color-secondary-fixed-dim: 179 204 191;
        --md-sys-color-on-secondary-fixed-variant: 53 76 66;
        --md-sys-color-tertiary-fixed: 194 232 253;
        --md-sys-color-on-tertiary-fixed: 0 31 43;
        --md-sys-color-tertiary-fixed-dim: 167 204 224;
        --md-sys-color-on-tertiary-fixed-variant: 38 75 92;
        --md-sys-color-surface-dim: 213 219 214;
        --md-sys-color-surface-bright: 245 251 246;
        --md-sys-color-surface-container-lowest: 255 255 255;
        --md-sys-color-surface-container-low: 239 245 240;
        --md-sys-color-surface-container: 233 239 234;
        --md-sys-color-surface-container-high: 228 234 228;
        --md-sys-color-surface-container-highest: 222 228 223;

        caret-color: rgb(var(--md-sys-color-primary));
        --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
    }

    *::selection {
        background-color: color-mix(in srgb, rgb(var(--md-sys-color-primary)), transparent 82%);
    }
}

.title-small {
    @apply text-sm font-medium;
}

.label-large {
    @apply text-sm font-medium;
}

.transition-material {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: var(--md-sys-motion-easing-standard);
    transition-duration: 150ms;
}
